#!/usr/bin/env python
PACKAGE = "zboat_helm"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("speed_limiter",        double_t, 0, "Limit speed for tight quaters.",                  0.15,    0.0,   1.0)
gen.add("magnetic_declination", double_t, 0, "Difference between magnetic and true north.",     0.0,  -180.0, 180.0)

exit(gen.generate(PACKAGE, "zboat_helm", "zboat_helm"))

